//importo il font Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$grigioDoc: #6F7E86;
$verdeImporto: #00875A;
$bluMese: #0D97D5;
$coloreLivello: #E0F1EB;


*{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 12px;
    box-sizing: border-box; //per dare la dimensione effettiva di ogni elemento, compreso di padding e border
}

table, th, td {
    font-weight:normal;

    border-collapse: separate;
    border: 1px solid rgba(235, 237, 238, 0.7);
    border-spacing: 0px;

    text-align: left;
    line-height: 18px;
}

table{
    width: 100%;

    th{
        width: 80px;
        height: 29px;
        color: $bluMese;
        padding: 5px 8px;
        font-weight: 500;
    }

    td{
        padding: 0;
        cursor: pointer;
        width: 80px;
        height: 81px;

        //disabilito la selezione del testo
        -webkit-touch-callout: none; //iOS Safari
        -webkit-user-select: none; //Safari
        -moz-user-select: none; //vecchie versioni di Firefox
        -ms-user-select: none; //Explorer
        user-select: none;
    }

}

//contenuto della cella
.containerMese{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    border-bottom: 3px solid $bluMese;

}

//cella selezionata
.selezionato{
    border-bottom: 4px solid $verdeImporto;
}

//documenti e importi
.datiMese{
    position: absolute;
    left: 8px;
    bottom: 7px;
    z-index: -1;

    span:first-child{
        font-weight: 400;
        color: $grigioDoc;
        z-index: -1;
    }

    span:last-child{
        color: $verdeImporto;
        z-index: -1;
    }

}

//livello proporzionale all'importo
.livello{
    width: 100%;
    height: 0%;
    background-color: $coloreLivello;
    position: absolute;
    bottom: 0;
    z-index: -10;
    transition: height 2s;
}

