<div style="height: 150px;">
<table>
    <tr>
        <th *ngFor="let m of andamentoService.mesi">{{m.mese}}</th>
    </tr>
    <tr>
        <!-- con window aggiunto all'evento mouseup specifico che il metodo mouseRilasciato() deve essere richiamato quando
            rilascio il mouse a livello globale della finestra, non solo quando mi trovo sul component specifico -->
        <td *ngFor="let mese of anno; let i = index">
            <div class="containerMese"
            (mousedown)="mousePremuto(mese, i)"
            (mouseover)="mouseOver(mese, i)"
            (window:mouseup)="mouseRilasciato()" 
            [class.selezionato]="mese.selezionato">
                <div class="livello" [@crescita] [ngStyle]="{'height.%': mese.altezza}"></div>
                <div class="datiMese">
                    <span>{{mese.documenti}} doc.</span> <br> <span>{{mese.importo | currency: 'EUR' : 'symbol' : '1.0-0'}}</span>
                </div>
            </div>
        </td>
    </tr>
    </table>

    <!-- info per l'utente sulla selezione -->
    <h3>{{info}}</h3>
</div>

<h2 style="color: #0D97D5">Mesi Selezionati:</h2>
<ul>
    <li *ngFor="let mese of mesiSelezionati">{{mese.mese}}</li>
</ul>